<h1>HOLA MUNDO</h1>
<h2>
  {{mensaje}} <!--en aqui estamos utilizando  el concepto de INTERPOLACION
                para que de esa manera angular identifique a  la variable MENSAJE
              i lo muestre en la pantalla por eso usamos  doble {{}}-->
</h2>
<hr/>

<cursos></cursos>

<hr/>

<cursos2></cursos2>

<hr/>

<h1>ANGULAR Video 8</h1>
<p> Utilizando String INTERPOLATION</p>
<h2>{{nombre}}</h2> <!--aqui algular se va encargar de analizar a lo que se encuentre dentro de las llaves dobles-->

<h2>{{ 'Mi nombre es: ' + getNombre() }}</h2>

<hr/>
<video9></video9>

<hr/>

<classBinding></classBinding>


