<h1>HOLA </h1>
<h2>
  {{mensaje}} <!--estamos utilizando  el concepto de INTERPOLACION-->           
</h2>

<hr/>

<cursos></cursos>

<hr/>

<cursos2></cursos2>

<hr/>

<h1>ANGULAR VIDEO - 8</h1>
<p> STRING INTERPOLATION</p>
<h2>{{nombre}}</h2> <!--aqui algular se va encargar de analizar a lo que se encuentre dentro de las llaves dobles-->
<h2>{{ 'Mi nombre es: ' + getNombre() }}</h2> <!--interpolacion - funcion-->

<hr/>

<video9></video9>

<hr/>

<classBinding></classBinding>

<hr/>

<StyleBinding></StyleBinding>
